
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: floralwhite;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding-left: 1rem;
}

.btn{
    padding: .7rem 3rem;
    background-color: mediumpurple;
    color: floralwhite;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn:hover{
    background-color: #4b4276;
}

/*Navbar style begins*/
header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 30rem;
    background: #4b4276;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .intro img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid mediumpurple;
}

header .intro .name{
    font-size: 3rem;
    color: floralwhite;
}

header .intro .title{
    font-size: 2rem;
    color: floralwhite;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 2rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1.5rem 6rem;
    margin: 1.5rem 0;
    background: mediumpurple;
    color: floralwhite;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: slategrey;
}

/*hamburger nav*/
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: mediumpurple;
    color: floralwhite;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #4b4276;
}

.home h1{
    font-size: 5rem;
    color: #4b4276;
}

.home p{
    font-size: 2rem;
    color: #4b4276;
    padding: 1rem 0;
}

.home_social{
    display: inline-block;
    align-items: center;
    color: mediumpurple;
    margin-top: 4rem;
}

.home_social i{
    align-items: center;
    justify-content: center;
    color: mediumpurple;
    font-size: 3.5rem;
    row-gap: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.home_social i:hover{
    color: #4b4276;
}

/*Contact Form*/
/*.contact-button{*/
/*    display: inline-block;*/
/*    color: black;*/
/*    background-color: white;*/
/*    padding:0.35em 1.2em;*/
/*    margin:0 0.3em 0.3em 0;*/
/*    box-sizing: border-box;*/
/*    border-radius: 0.25em;*/
/*    border:0.1em solid black;*/
/*    text-align: center;*/
/*    transition: all 0.2s;*/
/*    cursor: pointer;*/
/*}*/

/*.contact-button:hover{*/
/*    background: none;*/
/*    color: white;*/
/*    border:0.1em solid floralwhite;*/
/*}*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px){
    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0%;
    }
}

@media (max-width: 768px){
    header{
        font-size: 50%;
    }

}

@media (max-width: 400px){
    header{
       width: 100vw;
    }

}